@model IEnumerable<Consultorio_de_seguros.Models.Asegurado>

<h1>Asegurados</h1>

<a asp-action="Crear" class="btn btn-primary">Agregar Asegurado</a>

<table class="table">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asegurado in Model)
        {
                <tr>
                    <td>@asegurado.Cedula</td>
                    <td>@asegurado.Nombre</td>
                    <td>@asegurado.Telefono</td>
                    <td>@asegurado.Edad</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@asegurado.AseguradoId" class="btn btn-warning">Editar</a>
                        <a asp-action="Eliminar" asp-route-id="@asegurado.AseguradoId" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
